<div class="container">

    <button class="home" (click)='sayHome($event)'> Home </button>

    <button class="about" (click)='sayAbout($event)'> About </button>

    <button class="services" (click)='sayService($event)'> Services </button>

    <button class="contact" (click)='sayContact($event)'> Contact </button>

</div>