.container{
padding-left: 80px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
width: 340px;

background-color: rgb(3, 54, 112);

}

button{
display: flex;
outline: none;
padding: 20px;
border-radius: 10px;
margin-top: 20px;
margin-right: 20px;
cursor: pointer;

}
