.main{
    display: flex;
    height: 100vh;
    width:100vw;
}

app-buttonsection {
    display: flex;
    flex-basis: 70%;
    height: 100vh;
    width:100vw;
}

.content{
    padding-top: 300px ;
    padding-right: 50px;
    font-size: 50px;
}

