
<div class="main">


<app-buttonsection (home)="sayHome($event)"  (about)="sayAbout($event)" (service)="sayService($event)"  (contact)="sayContact($event)"></app-buttonsection>

<p class="content">{{HomeText}} </p> 

<p class="content" >{{aboutText}} </p>

<p class="content" >{{servicesText}} </p>

<p class="content" >{{contactText}} </p>

</div>


<!-- *ngIf="HomeText === 'Hello Home button'" -->